@import 'src/styles/vars';

.modaleEditSkill_infoMessage{
  display: flex;
  justify-content: center;
}

.modal_edit_request_textarea{
    width: 100%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

.modalTextArea_content{
  width: 50%;
}
.modal_edit_action_button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
}
