@import 'src/styles/vars';

.app {
  width: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 100vh;

  @include phone {
   
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 100vh;
    
 }
 @include sm {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  height: 100vh;
   
  }
  @include md {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    height: 100vh;
}
@include xl {

  width: 1000px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 100vh;

}
}

