@import 'src/styles/vars';



.request{
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: 2em;
  flex-wrap: wrap;
}

.request_presentation{
  display: flex;
  flex-direction: column;
}

.request_presentation_title{
  display: flex;
  justify-content: center;
  border-bottom: #FF385C solid 1px;
  margin: 1.5em;
  padding-bottom: 0.2em;
}


.request_Card_refuse{
  flex-direction: row!important;
  border: red solid 1px!important;
  width:100% !important;
}

.request_Card_accepte{
  flex-direction: row!important;
  border: blue solid 1px!important;
  width:100% !important;
}

.request_Card_wait{
  flex-direction: row!important;
  width:100% !important;
  border: yellow solid 1px!important;
}

.request_Card_finish{
  flex-direction: row!important;
  width:100% !important;
  border: green solid 1px!important;
}

.request_Content{
  display: flex !important;
  justify-content: space-between;
}

.request_Status{
  margin: 1em;
}

.request_RightSide{
  max-width: 50%;
}

.request_Picture{
  position: absolute;
  display: flex;
  margin-left: 3em;
}
.finish_text{
  margin: 1em;
}

.onglet_request{
  width: 100%!important;
}


// =================================== card v2

$font : 'Sofia', sans-serif;
$font-size:16px;
$blue : #0a4870;
$blue2 : #e3ebf1;
$black: #000;
$grey : #7d7d7d;
$grey2 : #f0f0f0;
$grey3 : #e8e7e7;
$grey4 : #fdfdfd;
$bluegrey : #49606e;
$orange: #ec992c;

@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin cardsOpen() {
    &::before {
      background: rgba(10,72,112, 0.6);
    }
    .book-container {
      .content {
        opacity: 1;

        transform: translateY(0px);
      }
    }

    .informations-container {      
      transform: translateY(0px);
      .more-information {
        opacity: 1;
      }
    }
}

*{
  margin: 0;
  padding: 0;
  
  font-family: $font;
}

/* h2{
  color: #0a4870;
  font-weight: 500;
} */

ul{
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    padding:0;
  
  .booking-card{
    position: relative;
    width: 300px;
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    
    margin: 20px;
    margin-bottom: 30px;
    @include radius(10px);
    
    overflow: hidden;
    
    background-position: center center;
    background-size: cover;
    
    text-align: center;
    color: $blue;
    
    transition: .3s;
    
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      
      background: rgba(10,72,112, 0);
      
      transition: .3s;
    }
    .sub-title_accept {
      color: green;
    }
    .sub-title_refuse {
      color: red;
    }
    .sub-title_cancel {
      color: red;
    }
    .book-container {
      height: 200px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        
        transform: translateY(-200px);
        
        transition: .3s;
        
        .btn {  
          width: 50%;
          border: 3px solid white;
          padding: 10px 15px;
          
          background: none;
          
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.3em;
          color: white;
          
          cursor: pointer;
          
          transition: .3s;
          
          &:hover {
            background: white;
            
            border: 0px solid white;
            
            color: $blue;
          }
        }
      }
    }
    
    .informations-container{      
      flex: 1 0 auto;
      
      padding-bottom: 5em;

      padding-top: 1em;
      
      background: $grey2;
      
      transform: translateY(206px);
      
      transition: .3s;

      // padding-bottom: 3em;
      
      .title {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2em;
        
        &::after{
          content: '';
          
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 50px;
          margin: auto;
          background: $blue;
        }
      }

      .title2 {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2em;
        font-style: italic;
        color: rgb(192, 189, 189);
        
        &::after{
          content: '';
          font-style: italic;
          color: lightgray;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 50px;
          margin: auto;
        }
      }
      
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: 10px;
        margin-bottom:10px;
        
        .icon {
          margin-right: 10px;
          width: 24px;
          height: 24px; 
        }
      }
      
      .more-information {
        opacity: 0;
        
        transition: .3s;
        .info-and-date-container {
          display: flex;

          .box {
            flex: 1 0;
            margin: 1em 1em;
            padding: 13px;
            margin-top: 20px;
            @include radius(10px);

            background: white;

            font-weight: bold;
            font-size: 0.9em;

            .icon {
              margin-bottom: 5px;
            }

            &.info{
              color: $orange;

              margin-right: 10px;
            }
          }
        }
        .disclaimer {
          margin-top: 1em auto ;
          padding: 0.5em 0.5em;
          font-size: 0.9em;
          color: $grey;
        }
      }
    }
    
    &:hover {
      @include cardsOpen();
    }
  }
}

@media (max-width: 768px) {
  ul {
    .booking-card{
      @include cardsOpen();
    }
  }
}
