@import 'src/styles/vars';



.request{
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: 2em;
  flex-wrap: wrap;
}

.request_presentation{
  display: flex;
  flex-direction: column;
}

.request_presentation_title{
  display: flex;
  justify-content: center;
  border-bottom: #FF385C solid 1px;
  margin: 1.5em;
  padding-bottom: 0.2em;
}


.request_Card_refuse{
  flex-direction: row!important;
  border: red solid 1px!important;
  width:100% !important;
}

.request_Card_accepte{
  flex-direction: row!important;
  border: blue solid 1px!important;
  width:100% !important;
}

.request_Card_wait{
  flex-direction: row!important;
  width:100% !important;
  border: yellow solid 1px!important;
}

.request_Card_finish{
  flex-direction: row!important;
  width:100% !important;
  border: green solid 1px!important;
}

.request_Content{
  display: flex !important;
  justify-content: space-between;
}

.request_Status{
  margin: 1em;
}

.request_RightSide{
  max-width: 50%;
}

.request_Picture{
  position: absolute;
  display: flex;
  margin-left: 3em;
}
.finish_text{
  margin: 1em;
}

.onglet_request{
  width: 100%!important;
}
