.presentation {

  margin-top: 4em;

  .presentation_title {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid #FF385C;
    padding-bottom: 1rem;
  }

  .presentation_content {

    line-height: 2;
    font-size: 0.9rem;
    padding: 2em 1em 0 1em;
  }

  .presentation_input {

    padding-top: 2rem;

  }
  
}

