.presentation {

  margin-top: 4em;

  .presentation_title {

    padding-bottom: 2rem;
  }

  .presentation_content {

    line-height: 2;
  }

  .presentation_input {

    padding-top: 2rem;

  }
  
}

