@import 'src/styles/vars';

.baba{
  padding: 30px;
}
.circle {
  margin: auto;
  width: 300px;
  height: 300px;
  -webkit-animation: spin 1s infinite ease-in;
  animation: spin 1s infinite linear;
  background-image:  url(https://i.ibb.co/h2DP1Fr/circle.png); 
  background-size: contain;
  background-repeat: no-repeat;
}

.middle {
  margin: auto;
  position: relative;
  top: 310px;
  width: 250px;
  height: 250px;
  background-image:  url(https://i.ibb.co/6X91D1h/middle.png); 
  background-size: contain;
  background-repeat: no-repeat;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(55deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

