.linkForNav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttonForModal{
  margin-top: 0.8em;
  display: flex;
}

.logo_link_home{
    width: 12%;
    position: fixed;
    top: -26px;
    left: 6px;
}

.link_OfLogo{
  margin-right: 4em!important;
}
