@import 'src/styles/vars';

.presentation {

  margin-top: 4em;

  .presentation_title {
    width: 45%;
    display: inline-block;
    border-bottom: 1px solid #FF385C;
    padding-bottom: 1rem;
  }

  .presentation_content {

    line-height: 2;
    padding: 2em 1em 0 1em;
    width: 50%;
    margin: 0 auto;
  }

  .presentation_input {

    padding-top: 2rem;
    width: 50%;
    margin: auto;

  }
  
}

