.jober {
  display: flex;
}
.Jober_avatar {

  padding-top: 3em;
  .MuiAvatar-root {
    width: 90px;
    height: 90px;
  }
}

.Jober_card {

  display: flex;
  flex-direction: column;
  margin: auto;

  .content {
    font-style: italic;
  }

  
}

 .MuiAvatar-root {
 
  position: unset !important;
}

.card {
  
  position: unset !important;
}
