@import 'src/styles/vars';


@include phone{

  .img_main_homepage{
  display: none;
  height: auto;
  width: 30%;
  margin: auto;
  margin-top: 0.5em;
  z-index:0;
  }
 
}

@include sm{
  .img_main_homepage{
  display: block;
  height: auto;
  width: 30%;
  margin: auto;
  margin-top: 0.5em;
  z-index:0;
  }
 
}

@include md{

  .img_main_homepage{
  display: block;
  height: auto;
  width: 30%;
  margin: auto;
  margin-top: 0.5em;
  z-index:0;
  }

}

@include xl {

  .img_main_homepage{
  display: block;
  height: auto;
  width: 30%;
  margin: auto;
  margin-top: 0.5em;
  z-index:0;
  }

}
