{% extends 'base.html.twig' %}

{% block title %}Erreur 403 - FriendlyJob
{% endblock %}

{% block body %}

	<div class="maincontainer">
		<div class="bat">
			<img class="wing leftwing" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
			<img class="body" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-body.png" alt="bat">
			<img class="wing rightwing" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
		</div>
		<div class="bat">
			<img class="wing leftwing" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
			<img class="body" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-body.png" alt="bat">
			<img class="wing rightwing" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
		</div>
		<div class="bat">
			<img class="wing leftwing" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
			<img class="body" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-body.png" alt="bat">
			<img class="wing rightwing" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/bat-wing.png">
		</div>
		<img class="foregroundimg" src="https://www.blissfullemon.com/wp-content/uploads/2018/09/HauntedHouseForeground.png" alt="haunted house">

	</div>
	<h1 class="errorcode">ERREUR 403</h1>
	<div class="errortext">CETTE ZONE EST INTERDITE ! FAITES DEMI-TOUR !</div>
	<p class="redirect403">
		<a class="btn btn-primary btn-outline-white px-5 py-3" href="/">Retour à l'accueil</a>
	</p>

{% endblock %}
