{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/confirm.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
{% endblock %}

<img src="assets/images/logo_fj_title_crop.png" alt="">

<p class="thanks">Merci de nous avoir rejoint, vous avez désormais accès à toutes les fonctionnalités de notre site ! <i class="fa fa-hand-peace-o" aria-hidden="true"></i></p>

<a class="backHomepage" href="#">Retour à l'accueil</a>