<h1>Bienvenue {{ user.fullname }} !</h1>

<p>
    Vous êtes inscrit avec cet email : {{ user.email }}
</p>

<p>
    <a href="{{ url('confirm_email')}}?token={{ check_email.token }}">Cliquez ici pour activer votre compte !</a>
</p>

<p>Toute l'équipe de FriendlyJob vous remercie pour votre confiance.</p>