@import 'src/styles/vars';

.caroussel {
  width: 70%;
  margin: auto;
  margin-top: 5em;
  border-radius: 10px;
  padding: 3rem;


    @include phone {
    /* width: 100%; */
    }

      @include sm {

      }

        @include md {

        }

  .caroussel_img {
    width: 250px;
    height: 280px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform .2s;
    &:hover {
      transform: scale(1.5);
      
    }

    @include phone {
    
      width: 100%;
     
     }
     @include sm {
     
       
       
   }
   @include md {
    
   
   }
  }

  .slick-arrow {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: white;
    transform: scale(2);
  }
  .slick-dots{
    transform: scale(1.4);
  }

  li{

    color: #ffff;
  }

  .caroussel_service_title {
    padding-top: 1.5rem;
  }

  .caroussel_content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .carroussel_content_img {
    overflow: hidden;
  }
}

