@import 'src/styles/vars';

.service_detail {

  margin-top: 5em;

  .service_detail_title {

    display: inline-block;
    padding-top: 1rem;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: 1px solid #FF385C;
    padding-bottom: 1rem;
    width: 60%;

  }

  .service_detail_presentation {

    margin-top: 2em;
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: large;
  }


  .service_details_jobworker_title {

    padding-top: 2em;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    text-align: left;
    border-bottom: #FF385C;
    font-style: italic;
    margin-left: 3em;
  }

  .service_details_jobworker_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-left: 2em;
  }

  .service_details_jobworker_card-item {

    padding: 1rem;

  }

  .service_details_link {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2.5em auto;
    font-size: larger;
    font-weight: 700;

  }
}


