.stage {
  border-bottom: 2px solid #444;
  display: flex;
  height: 330px;
  width: 90%;
  margin: 0 auto;
}

.contact_description {
  display: flex;
  width: 90%;
  margin-top: 2em;
  margin: 0 auto;
  justify-content: space-around;
}

.contact_desciption_item{
  margin-top: 1em;
}

.contact_desciption_item_role{
  color: rgba(0, 0, 0, 0.664);
  font-family: monospace;
  margin-top: 0.5em;
}

.box {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: #F44336;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
