.footer {

  margin-top: 3em;
  border-top: 4px solid #f7f7f7;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  width: 1000px;
  background-color: #FFFF;

  padding-top: 2em;

  .footer_content {

    text-align: left;
    padding-top: 1rem;
    font-size: 0.9rem;

  }

  .footer_link {
    display: flex;
  }
  .footer_link_text {
    padding-top: 1rem;
    padding-right: 1rem;
  }

  .footer_icon {

    padding-bottom: 1rem;

  }

  


}
