{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/api-nelmio-friendlyjob.css') }}">
{% endblock stylesheets %}

{% block header %}
    {{ parent() }}
    <a class="linkHomePage" href="/">Page d'accueil</a>
{% endblock %}