@import 'src/styles/vars';

.jobpresentation {

  background-color: rgba(0, 0, 0, 0.623);
  border-radius: 10px;
  padding-bottom: 3em;
  color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 4em;
  
  @include phone {
    
    
   
   }
   @include sm {
   
     
 }
 @include md {
  
 
 }

  .jobpresentation_title {
    display: inline-block;
    padding-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px solid #FF385C;
    padding-bottom: 1rem;
    width: 50%;
    @include phone {
    
     
     }
     @include sm {
     
       
       
   }
   @include md {
    
   
   }
  }
  .jobpresentation_card {
    
    padding-top: 2em;
  
  }
  .jobercard {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding-right: 6em;
  }
  .jobpresentation_content {

    padding: 2em 1em 0 1em;
    line-height: 2;
  }
  
}


