@import 'src/styles/vars';


  @include phone {
   .jobpresentation { 
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 10px;
    padding-bottom: 3em;
    color: white;
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;
  

    .jobpresentation_title {
      display: inline-block;
      padding-top: 1rem;
      font-weight: bold;
      font-size: 1.5rem;
      border-bottom: 1px solid #FF385C;
      padding-bottom: 1rem;
      width: 100%;
    }
    .jobpresentation_card {
      width: 100%;
      padding-top: 2em;
    }
    .jobercard {
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
    }
    .jobpresentation_content {
      padding: 2em 1em 0 1em;
      line-height: 2;
    }
   }
  }
    @include sm {
      
    }
    @include md {
  
    }
    @include xl {
      .jobpresentation { 
        background-color: rgba(0, 0, 0, 0.80);
        border-radius: 10px;
        padding-bottom: 3em;
        color: white;
        width: 100%;
        margin: 0 auto;
        margin-top: 4em;
      

        .jobpresentation_title {
          display: inline-block;
          padding-top: 1rem;
          font-weight: bold;
          font-size: 1.5rem;
          border-bottom: 1px solid #FF385C;
          padding-bottom: 1rem;
          width: 50%;
        }
          .jobpresentation_card {
            padding-top: 2em;
          }
          .jobercard {
            display: flex;
            justify-content: center;
            margin: 0 auto;
          }
          .jobpresentation_content {

            padding: 2em 1em 0 1em;
            line-height: 2;
          }
 
        }
      }



