.MuiChip-label {

  line-height: 2;
};

.makeStyles-root-7 {
  margin: auto;
  width: 534px;
}

.MuiAutocomplete-root {
  width: 534px;
  margin-right: 2em;
}

.MuiFormControl-root {
  margin: auto;
}
